<div fxLayout="column" id="main-card" fxLayoutAlign="center center">
  <div id="login-form-wrapper">
    <div class="card-login" fxLayoutAlign="center center">
      <div class="logo">
        <img class="logo-allemant" src="assets/images/logos/fuse.svg">
      </div>
    </div>
    <div class="card-header">
      <h2>
        INICIAR SESIÓN
      </h2>
    </div>

    <nz-card [nzBordered]="false">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" [nzLayout]="'vertical'">
        <nz-form-item class="mb-3">
          <nz-form-label>Usuario</nz-form-label>
          <nz-form-control nzErrorTip="Por favor ingrese su usuario y/o correo!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="Ingrese su usuario"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="mb-5">
          <nz-form-label >Contraseña</nz-form-label>
          <nz-form-control nzErrorTip="Por favor ingrese su contraseña!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Ingrese su contraseña"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-label>¿Olvido su contraseña?</nz-form-label>


        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Iniciar Sesión</button>
        Or
        <a>register now!</a>
      </form>

      <button
  class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400">Hello</button>
    </nz-card>
  </div>

</div>
