/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
html {
  -moz-tab-size: 4;
  tab-size: 4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji
}

hr {
  height: 0;
  color: inherit
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b, strong {
  font-weight: bolder
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button, select {
  text-transform: none
}

[type=button], [type=reset], button {
  -webkit-appearance: button
}

legend {
  padding: 0
}

progress {
  vertical-align: initial
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

summary {
  display: list-item
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0
}

button {
  background-color: initial;
  background-image: none
}

fieldset, ol, ul {
  margin: 0;
  padding: 0
}

ol, ul {
  list-style: none
}

html {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5
}

body {
  font-family: inherit;
  line-height: inherit
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid
}

hr {
  border-top-width: 1px
}

img {
  border-style: solid
}

textarea {
  resize: vertical
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #94a3b8
}

[role=button], button {
  cursor: pointer
}

table {
  border-collapse: collapse
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit
}

code, kbd, pre, samp {
  font-family: IBM Plex Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle
}

img, video {
  max-width: 100%;
  height: auto
}

*, :after, :before {
  --tw-border-opacity: 1;
  border-color: rgba(226, 232, 240, var(--tw-border-opacity))
}

* {
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent
}

:focus {
  outline: none !important
}

body, html {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto
}

html {
  font-size: 16px
}

body {
  font-size: .875rem;
  font-feature-settings: "salt"
}

hr {
  margin: 32px 0;
  border-bottom-width: 1px
}

img {
  width: 100%;
  vertical-align: top
}

input[disabled] {
  opacity: 1;
  -webkit-text-fill-color: currentColor
}

.dark, .light, body {
  --tw-text-opacity: 1 !important;
  color: rgba(var(--fuse-text-default-rgb), var(--tw-text-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgba(var(--fuse-bg-default-rgb), var(--tw-bg-opacity)) !important
}

*, :after, :before {
  --tw-border-opacity: 1 !important;
  border-color: rgba(var(--fuse-border-rgb), var(--tw-border-opacity))
}

.dark *, .dark :after, .dark :before {
  --tw-border-opacity: 0.12 !important
}

[disabled] * {
  --tw-text-opacity: 1 !important;
  color: rgba(var(--fuse-text-disabled-rgb), var(--tw-text-opacity)) !important
}

@media print {
  html {
    font-size: 12px !important
  }

  .dark, .light, body {
    background: none !important
  }
}

.mat-icon {
  --tw-text-opacity: 1;
  color: rgba(var(--fuse-mat-icon-rgb), var(--tw-text-opacity))
}

.text-default {
  --tw-text-opacity: 1 !important;
  color: rgba(var(--fuse-text-default-rgb), var(--tw-text-opacity)) !important
}

.text-secondary {
  color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)) !important
}

.text-hint, .text-secondary {
  --tw-text-opacity: 1 !important
}

.text-hint {
  color: rgba(var(--fuse-text-hint-rgb), var(--tw-text-opacity)) !important
}

.text-disabled {
  --tw-text-opacity: 1 !important;
  color: rgba(var(--fuse-text-disabled-rgb), var(--tw-text-opacity)) !important
}

.divider {
  color: var(--fuse-divider) !important
}

.bg-card {
  background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important
}

.bg-card, .bg-default {
  --tw-bg-opacity: 1 !important
}

.bg-default {
  background-color: rgba(var(--fuse-bg-default-rgb), var(--tw-bg-opacity)) !important
}

.bg-dialog {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(var(--fuse-bg-dialog-rgb), var(--tw-bg-opacity)) !important
}

.ring-bg-default {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgba(var(--fuse-bg-default-rgb), var(--tw-ring-opacity)) !important
}

.ring-bg-card {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgba(var(--fuse-bg-card-rgb), var(--tw-ring-opacity)) !important
}

.group:hover .group-hover\:text-secondary {
  --tw-text-opacity: 1 !important;
  color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)) !important
}

.dark .dark\:bg-card {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important
}

.dark .dark\:bg-default {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(var(--fuse-bg-default-rgb), var(--tw-bg-opacity)) !important
}

.bg-hover, .dark .dark\:bg-hover, .dark .dark\:hover\:bg-hover:hover, .hover\:bg-hover:hover {
  background-color: var(--fuse-bg-hover) !important
}

body {
  --fuse-primary-50: #eef2ff;
  --fuse-primary-50-rgb: 238, 242, 255;
  --fuse-primary-100: #e0e7ff;
  --fuse-primary-100-rgb: 224, 231, 255;
  --fuse-primary-200: #c7d2fe;
  --fuse-primary-200-rgb: 199, 210, 254;
  --fuse-primary-300: #a5b4fc;
  --fuse-primary-300-rgb: 165, 180, 252;
  --fuse-primary-400: #818cf8;
  --fuse-primary-400-rgb: 129, 140, 248;
  --fuse-primary-500: #6366f1;
  --fuse-primary-500-rgb: 99, 102, 241;
  --fuse-primary-600: #4f46e5;
  --fuse-primary-600-rgb: 79, 70, 229;
  --fuse-primary-700: #4338ca;
  --fuse-primary-700-rgb: 67, 56, 202;
  --fuse-primary-800: #3730a3;
  --fuse-primary-800-rgb: 55, 48, 163;
  --fuse-primary-900: #312e81;
  --fuse-primary-900-rgb: 49, 46, 129;
  --fuse-primary: #4f46e5;
  --fuse-primary-rgb: 79, 70, 229;
  --fuse-on-primary-50: #312e81;
  --fuse-on-primary-50-rgb: 49, 46, 129;
  --fuse-on-primary-100: #312e81;
  --fuse-on-primary-100-rgb: 49, 46, 129;
  --fuse-on-primary-200: #312e81;
  --fuse-on-primary-200-rgb: 49, 46, 129;
  --fuse-on-primary-300: #312e81;
  --fuse-on-primary-300-rgb: 49, 46, 129;
  --fuse-on-primary-400: #312e81;
  --fuse-on-primary-400-rgb: 49, 46, 129;
  --fuse-on-primary-500: #fff;
  --fuse-on-primary-500-rgb: 255, 255, 255;
  --fuse-on-primary-600: #fff;
  --fuse-on-primary-600-rgb: 255, 255, 255;
  --fuse-on-primary-700: #fff;
  --fuse-on-primary-700-rgb: 255, 255, 255;
  --fuse-on-primary-800: #fff;
  --fuse-on-primary-800-rgb: 255, 255, 255;
  --fuse-on-primary-900: #fff;
  --fuse-on-primary-900-rgb: 255, 255, 255;
  --fuse-on-primary: #fff;
  --fuse-on-primary-rgb: 255, 255, 255;
  --fuse-accent-50: #f8fafc;
  --fuse-accent-50-rgb: 248, 250, 252;
  --fuse-accent-100: #f1f5f9;
  --fuse-accent-100-rgb: 241, 245, 249;
  --fuse-accent-200: #e2e8f0;
  --fuse-accent-200-rgb: 226, 232, 240;
  --fuse-accent-300: #cbd5e1;
  --fuse-accent-300-rgb: 203, 213, 225;
  --fuse-accent-400: #94a3b8;
  --fuse-accent-400-rgb: 148, 163, 184;
  --fuse-accent-500: #64748b;
  --fuse-accent-500-rgb: 100, 116, 139;
  --fuse-accent-600: #475569;
  --fuse-accent-600-rgb: 71, 85, 105;
  --fuse-accent-700: #334155;
  --fuse-accent-700-rgb: 51, 65, 85;
  --fuse-accent-800: #1e293b;
  --fuse-accent-800-rgb: 30, 41, 59;
  --fuse-accent-900: #0f172a;
  --fuse-accent-900-rgb: 15, 23, 42;
  --fuse-accent: #1e293b;
  --fuse-accent-rgb: 30, 41, 59;
  --fuse-on-accent-50: #0f172a;
  --fuse-on-accent-50-rgb: 15, 23, 42;
  --fuse-on-accent-100: #0f172a;
  --fuse-on-accent-100-rgb: 15, 23, 42;
  --fuse-on-accent-200: #0f172a;
  --fuse-on-accent-200-rgb: 15, 23, 42;
  --fuse-on-accent-300: #0f172a;
  --fuse-on-accent-300-rgb: 15, 23, 42;
  --fuse-on-accent-400: #0f172a;
  --fuse-on-accent-400-rgb: 15, 23, 42;
  --fuse-on-accent-500: #fff;
  --fuse-on-accent-500-rgb: 255, 255, 255;
  --fuse-on-accent-600: #fff;
  --fuse-on-accent-600-rgb: 255, 255, 255;
  --fuse-on-accent-700: #fff;
  --fuse-on-accent-700-rgb: 255, 255, 255;
  --fuse-on-accent-800: #fff;
  --fuse-on-accent-800-rgb: 255, 255, 255;
  --fuse-on-accent-900: #fff;
  --fuse-on-accent-900-rgb: 255, 255, 255;
  --fuse-on-accent: #fff;
  --fuse-on-accent-rgb: 255, 255, 255;
  --fuse-warn-50: #fef2f2;
  --fuse-warn-50-rgb: 254, 242, 242;
  --fuse-warn-100: #fee2e2;
  --fuse-warn-100-rgb: 254, 226, 226;
  --fuse-warn-200: #fecaca;
  --fuse-warn-200-rgb: 254, 202, 202;
  --fuse-warn-300: #fca5a5;
  --fuse-warn-300-rgb: 252, 165, 165;
  --fuse-warn-400: #f87171;
  --fuse-warn-400-rgb: 248, 113, 113;
  --fuse-warn-500: #ef4444;
  --fuse-warn-500-rgb: 239, 68, 68;
  --fuse-warn-600: #dc2626;
  --fuse-warn-600-rgb: 220, 38, 38;
  --fuse-warn-700: #b91c1c;
  --fuse-warn-700-rgb: 185, 28, 28;
  --fuse-warn-800: #991b1b;
  --fuse-warn-800-rgb: 153, 27, 27;
  --fuse-warn-900: #7f1d1d;
  --fuse-warn-900-rgb: 127, 29, 29;
  --fuse-warn: #dc2626;
  --fuse-warn-rgb: 220, 38, 38;
  --fuse-on-warn-50: #7f1d1d;
  --fuse-on-warn-50-rgb: 127, 29, 29;
  --fuse-on-warn-100: #7f1d1d;
  --fuse-on-warn-100-rgb: 127, 29, 29;
  --fuse-on-warn-200: #7f1d1d;
  --fuse-on-warn-200-rgb: 127, 29, 29;
  --fuse-on-warn-300: #7f1d1d;
  --fuse-on-warn-300-rgb: 127, 29, 29;
  --fuse-on-warn-400: #7f1d1d;
  --fuse-on-warn-400-rgb: 127, 29, 29;
  --fuse-on-warn-500: #fef2f2;
  --fuse-on-warn-500-rgb: 254, 242, 242;
  --fuse-on-warn-600: #fff;
  --fuse-on-warn-600-rgb: 255, 255, 255;
  --fuse-on-warn-700: #fff;
  --fuse-on-warn-700-rgb: 255, 255, 255;
  --fuse-on-warn-800: #fff;
  --fuse-on-warn-800-rgb: 255, 255, 255;
  --fuse-on-warn-900: #fff;
  --fuse-on-warn-900-rgb: 255, 255, 255;
  --fuse-on-warn: #fff;
  --fuse-on-warn-rgb: 255, 255, 255
}

body.theme-brand {
  --fuse-primary-50: #eff5fe;
  --fuse-primary-50-rgb: 239, 245, 254;
  --fuse-primary-100: #e2ecfd;
  --fuse-primary-100-rgb: 226, 236, 253;
  --fuse-primary-200: #c4dafa;
  --fuse-primary-200-rgb: 196, 218, 250;
  --fuse-primary-300: #a1c6f8;
  --fuse-primary-300-rgb: 161, 198, 248;
  --fuse-primary-400: #74b0f5;
  --fuse-primary-400-rgb: 116, 176, 245;
  --fuse-primary-500: #2196f3;
  --fuse-primary-500-rgb: 33, 150, 243;
  --fuse-primary-600: #1e88dc;
  --fuse-primary-600-rgb: 30, 136, 220;
  --fuse-primary-700: #1a78c3;
  --fuse-primary-700-rgb: 26, 120, 195;
  --fuse-primary-800: #1766a6;
  --fuse-primary-800-rgb: 23, 102, 166;
  --fuse-primary-900: #125183;
  --fuse-primary-900-rgb: 18, 81, 131;
  --fuse-primary: #2196f3;
  --fuse-primary-rgb: 33, 150, 243;
  --fuse-on-primary-50: #125183;
  --fuse-on-primary-50-rgb: 18, 81, 131;
  --fuse-on-primary-100: #125183;
  --fuse-on-primary-100-rgb: 18, 81, 131;
  --fuse-on-primary-200: #125183;
  --fuse-on-primary-200-rgb: 18, 81, 131;
  --fuse-on-primary-300: #125183;
  --fuse-on-primary-300-rgb: 18, 81, 131;
  --fuse-on-primary-400: #125183;
  --fuse-on-primary-400-rgb: 18, 81, 131;
  --fuse-on-primary-500: #fff;
  --fuse-on-primary-500-rgb: 255, 255, 255;
  --fuse-on-primary-600: #fff;
  --fuse-on-primary-600-rgb: 255, 255, 255;
  --fuse-on-primary-700: #fff;
  --fuse-on-primary-700-rgb: 255, 255, 255;
  --fuse-on-primary-800: #fff;
  --fuse-on-primary-800-rgb: 255, 255, 255;
  --fuse-on-primary-900: #fff;
  --fuse-on-primary-900-rgb: 255, 255, 255;
  --fuse-on-primary: #fff;
  --fuse-on-primary-rgb: 255, 255, 255
}

body.theme-indigo {
  --fuse-primary-50: #f0fdfa;
  --fuse-primary-50-rgb: 240, 253, 250;
  --fuse-primary-100: #ccfbf1;
  --fuse-primary-100-rgb: 204, 251, 241;
  --fuse-primary-200: #99f6e4;
  --fuse-primary-200-rgb: 153, 246, 228;
  --fuse-primary-300: #5eead4;
  --fuse-primary-300-rgb: 94, 234, 212;
  --fuse-primary-400: #2dd4bf;
  --fuse-primary-400-rgb: 45, 212, 191;
  --fuse-primary-500: #14b8a6;
  --fuse-primary-500-rgb: 20, 184, 166;
  --fuse-primary-600: #0d9488;
  --fuse-primary-600-rgb: 13, 148, 136;
  --fuse-primary-700: #0f766e;
  --fuse-primary-700-rgb: 15, 118, 110;
  --fuse-primary-800: #115e59;
  --fuse-primary-800-rgb: 17, 94, 89;
  --fuse-primary-900: #134e4a;
  --fuse-primary-900-rgb: 19, 78, 74;
  --fuse-primary: #0d9488;
  --fuse-primary-rgb: 13, 148, 136;
  --fuse-on-primary-50: #134e4a;
  --fuse-on-primary-50-rgb: 19, 78, 74;
  --fuse-on-primary-100: #134e4a;
  --fuse-on-primary-100-rgb: 19, 78, 74;
  --fuse-on-primary-200: #134e4a;
  --fuse-on-primary-200-rgb: 19, 78, 74;
  --fuse-on-primary-300: #134e4a;
  --fuse-on-primary-300-rgb: 19, 78, 74;
  --fuse-on-primary-400: #134e4a;
  --fuse-on-primary-400-rgb: 19, 78, 74;
  --fuse-on-primary-500: #134e4a;
  --fuse-on-primary-500-rgb: 19, 78, 74;
  --fuse-on-primary-600: #fff;
  --fuse-on-primary-600-rgb: 255, 255, 255;
  --fuse-on-primary-700: #fff;
  --fuse-on-primary-700-rgb: 255, 255, 255;
  --fuse-on-primary-800: #fff;
  --fuse-on-primary-800-rgb: 255, 255, 255;
  --fuse-on-primary-900: #fff;
  --fuse-on-primary-900-rgb: 255, 255, 255;
  --fuse-on-primary: #fff;
  --fuse-on-primary-rgb: 255, 255, 255
}

body.theme-rose {
  --fuse-primary-50: #fff1f2;
  --fuse-primary-50-rgb: 255, 241, 242;
  --fuse-primary-100: #ffe4e6;
  --fuse-primary-100-rgb: 255, 228, 230;
  --fuse-primary-200: #fecdd3;
  --fuse-primary-200-rgb: 254, 205, 211;
  --fuse-primary-300: #fda4af;
  --fuse-primary-300-rgb: 253, 164, 175;
  --fuse-primary-400: #fb7185;
  --fuse-primary-400-rgb: 251, 113, 133;
  --fuse-primary-500: #f43f5e;
  --fuse-primary-500-rgb: 244, 63, 94;
  --fuse-primary-600: #e11d48;
  --fuse-primary-600-rgb: 225, 29, 72;
  --fuse-primary-700: #be123c;
  --fuse-primary-700-rgb: 190, 18, 60;
  --fuse-primary-800: #9f1239;
  --fuse-primary-800-rgb: 159, 18, 57;
  --fuse-primary-900: #881337;
  --fuse-primary-900-rgb: 136, 19, 55;
  --fuse-primary: #f43f5e;
  --fuse-primary-rgb: 244, 63, 94;
  --fuse-on-primary-50: #881337;
  --fuse-on-primary-50-rgb: 136, 19, 55;
  --fuse-on-primary-100: #881337;
  --fuse-on-primary-100-rgb: 136, 19, 55;
  --fuse-on-primary-200: #881337;
  --fuse-on-primary-200-rgb: 136, 19, 55;
  --fuse-on-primary-300: #881337;
  --fuse-on-primary-300-rgb: 136, 19, 55;
  --fuse-on-primary-400: #881337;
  --fuse-on-primary-400-rgb: 136, 19, 55;
  --fuse-on-primary-500: #fff;
  --fuse-on-primary-500-rgb: 255, 255, 255;
  --fuse-on-primary-600: #fff;
  --fuse-on-primary-600-rgb: 255, 255, 255;
  --fuse-on-primary-700: #fff;
  --fuse-on-primary-700-rgb: 255, 255, 255;
  --fuse-on-primary-800: #fff;
  --fuse-on-primary-800-rgb: 255, 255, 255;
  --fuse-on-primary-900: #fff;
  --fuse-on-primary-900-rgb: 255, 255, 255;
  --fuse-on-primary: #fff;
  --fuse-on-primary-rgb: 255, 255, 255
}

body.theme-purple {
  --fuse-primary-50: #faf5ff;
  --fuse-primary-50-rgb: 250, 245, 255;
  --fuse-primary-100: #f3e8ff;
  --fuse-primary-100-rgb: 243, 232, 255;
  --fuse-primary-200: #e9d5ff;
  --fuse-primary-200-rgb: 233, 213, 255;
  --fuse-primary-300: #d8b4fe;
  --fuse-primary-300-rgb: 216, 180, 254;
  --fuse-primary-400: #c084fc;
  --fuse-primary-400-rgb: 192, 132, 252;
  --fuse-primary-500: #a855f7;
  --fuse-primary-500-rgb: 168, 85, 247;
  --fuse-primary-600: #9333ea;
  --fuse-primary-600-rgb: 147, 51, 234;
  --fuse-primary-700: #7e22ce;
  --fuse-primary-700-rgb: 126, 34, 206;
  --fuse-primary-800: #6b21a8;
  --fuse-primary-800-rgb: 107, 33, 168;
  --fuse-primary-900: #581c87;
  --fuse-primary-900-rgb: 88, 28, 135;
  --fuse-primary: #9333ea;
  --fuse-primary-rgb: 147, 51, 234;
  --fuse-on-primary-50: #581c87;
  --fuse-on-primary-50-rgb: 88, 28, 135;
  --fuse-on-primary-100: #581c87;
  --fuse-on-primary-100-rgb: 88, 28, 135;
  --fuse-on-primary-200: #581c87;
  --fuse-on-primary-200-rgb: 88, 28, 135;
  --fuse-on-primary-300: #581c87;
  --fuse-on-primary-300-rgb: 88, 28, 135;
  --fuse-on-primary-400: #581c87;
  --fuse-on-primary-400-rgb: 88, 28, 135;
  --fuse-on-primary-500: #fff;
  --fuse-on-primary-500-rgb: 255, 255, 255;
  --fuse-on-primary-600: #fff;
  --fuse-on-primary-600-rgb: 255, 255, 255;
  --fuse-on-primary-700: #fff;
  --fuse-on-primary-700-rgb: 255, 255, 255;
  --fuse-on-primary-800: #fff;
  --fuse-on-primary-800-rgb: 255, 255, 255;
  --fuse-on-primary-900: #fff;
  --fuse-on-primary-900-rgb: 255, 255, 255;
  --fuse-on-primary: #fff;
  --fuse-on-primary-rgb: 255, 255, 255
}

body.theme-amber {
  --fuse-primary-50: #fffbeb;
  --fuse-primary-50-rgb: 255, 251, 235;
  --fuse-primary-100: #fef3c7;
  --fuse-primary-100-rgb: 254, 243, 199;
  --fuse-primary-200: #fde68a;
  --fuse-primary-200-rgb: 253, 230, 138;
  --fuse-primary-300: #fcd34d;
  --fuse-primary-300-rgb: 252, 211, 77;
  --fuse-primary-400: #fbbf24;
  --fuse-primary-400-rgb: 251, 191, 36;
  --fuse-primary-500: #f59e0b;
  --fuse-primary-500-rgb: 245, 158, 11;
  --fuse-primary-600: #d97706;
  --fuse-primary-600-rgb: 217, 119, 6;
  --fuse-primary-700: #b45309;
  --fuse-primary-700-rgb: 180, 83, 9;
  --fuse-primary-800: #92400e;
  --fuse-primary-800-rgb: 146, 64, 14;
  --fuse-primary-900: #78350f;
  --fuse-primary-900-rgb: 120, 53, 15;
  --fuse-primary: #f59e0b;
  --fuse-primary-rgb: 245, 158, 11;
  --fuse-on-primary-50: #78350f;
  --fuse-on-primary-50-rgb: 120, 53, 15;
  --fuse-on-primary-100: #78350f;
  --fuse-on-primary-100-rgb: 120, 53, 15;
  --fuse-on-primary-200: #78350f;
  --fuse-on-primary-200-rgb: 120, 53, 15;
  --fuse-on-primary-300: #78350f;
  --fuse-on-primary-300-rgb: 120, 53, 15;
  --fuse-on-primary-400: #78350f;
  --fuse-on-primary-400-rgb: 120, 53, 15;
  --fuse-on-primary-500: #78350f;
  --fuse-on-primary-500-rgb: 120, 53, 15;
  --fuse-on-primary-600: #fff;
  --fuse-on-primary-600-rgb: 255, 255, 255;
  --fuse-on-primary-700: #fff;
  --fuse-on-primary-700-rgb: 255, 255, 255;
  --fuse-on-primary-800: #fff;
  --fuse-on-primary-800-rgb: 255, 255, 255;
  --fuse-on-primary-900: #fff;
  --fuse-on-primary-900-rgb: 255, 255, 255;
  --fuse-on-primary: #78350f;
  --fuse-on-primary-rgb: 120, 53, 15
}

.dark .light, .light, body.light {
  --is-dark: false;
  --fuse-bg-app-bar: #fff;
  --fuse-bg-app-bar-rgb: 255, 255, 255;
  --fuse-bg-card: #fff;
  --fuse-bg-card-rgb: 255, 255, 255;
  --fuse-bg-default: #f1f5f9;
  --fuse-bg-default-rgb: 241, 245, 249;
  --fuse-bg-dialog: #fff;
  --fuse-bg-dialog-rgb: 255, 255, 255;
  --fuse-bg-hover: #94a3b81f;
  --fuse-bg-hover-rgb: 148, 163, 184;
  --fuse-bg-status-bar: #cbd5e1;
  --fuse-bg-status-bar-rgb: 203, 213, 225;
  --fuse-text-default: #1e293b;
  --fuse-text-default-rgb: 30, 41, 59;
  --fuse-text-secondary: #64748b;
  --fuse-text-secondary-rgb: 100, 116, 139;
  --fuse-text-hint: #94a3b8;
  --fuse-text-hint-rgb: 148, 163, 184;
  --fuse-text-disabled: #94a3b8;
  --fuse-text-disabled-rgb: 148, 163, 184;
  --fuse-border: #e2e8f0;
  --fuse-border-rgb: 226, 232, 240;
  --fuse-divider: #e2e8f0;
  --fuse-divider-rgb: 226, 232, 240;
  --fuse-icon: #64748b;
  --fuse-icon-rgb: 100, 116, 139;
  --fuse-mat-icon: #64748b;
  --fuse-mat-icon-rgb: 100, 116, 139
}

.dark, .light .dark, body.dark {
  --fuse-bg-app-bar: #0f172a;
  --fuse-bg-app-bar-rgb: 15, 23, 42;
  --fuse-bg-card: #1e293b;
  --fuse-bg-card-rgb: 30, 41, 59;
  --fuse-bg-default: #0f172a;
  --fuse-bg-default-rgb: 15, 23, 42;
  --fuse-bg-dialog: #1e293b;
  --fuse-bg-dialog-rgb: 30, 41, 59;
  --fuse-bg-hover: #ffffff0d;
  --fuse-bg-hover-rgb: 255, 255, 255;
  --fuse-bg-status-bar: #0f172a;
  --fuse-bg-status-bar-rgb: 15, 23, 42;
  --fuse-text-default: #fff;
  --fuse-text-default-rgb: 255, 255, 255;
  --fuse-text-secondary: #94a3b8;
  --fuse-text-secondary-rgb: 148, 163, 184;
  --fuse-text-hint: #64748b;
  --fuse-text-hint-rgb: 100, 116, 139;
  --fuse-text-disabled: #475569;
  --fuse-text-disabled-rgb: 71, 85, 105;
  --fuse-border: #f1f5f91f;
  --fuse-border-rgb: 241, 245, 249;
  --fuse-divider: #f1f5f91f;
  --fuse-divider-rgb: 241, 245, 249;
  --fuse-icon: #94a3b8;
  --fuse-icon-rgb: 148, 163, 184;
  --fuse-mat-icon: #94a3b8;
  --fuse-mat-icon-rgb: 148, 163, 184
}

.prose {
  color: var(--fuse-text-default);
  max-width: 65ch
}

.prose [class~=lead] {
  color: var(--fuse-text-secondary);
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em
}

.prose a {
  color: var(--fuse-primary-500);
  text-decoration: underline;
  font-weight: 500
}

.prose strong {
  color: var(--fuse-text-default);
  font-weight: 600
}

.prose ol[type=A] {
  --list-counter-style: upper-alpha
}

.prose ol[type=a] {
  --list-counter-style: lower-alpha
}

.prose ol[type=I] {
  --list-counter-style: upper-roman
}

.prose ol[type=i] {
  --list-counter-style: lower-roman
}

.prose ol[type="1"] {
  --list-counter-style: decimal
}

.prose ol > li {
  position: relative;
  padding-left: 1.75em
}

.prose ol > li:before {
  content: counter(list-item, var(--list-counter-style, decimal)) ".";
  position: absolute;
  font-weight: 400;
  color: var(--fuse-text-secondary);
  left: 0
}

.prose ul > li {
  position: relative;
  padding-left: 1.75em
}

.prose ul > li:before {
  content: "";
  position: absolute;
  background-color: var(--fuse-text-hint);
  border-radius: 50%;
  width: .375em;
  height: .375em;
  top: calc(.875em - .1875em);
  left: .25em
}

.prose hr {
  border-color: var(--fuse-border);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em
}

.prose blockquote {
  font-weight: 500;
  font-style: italic;
  color: var(--fuse-text-default);
  border-left-width: .25rem;
  border-left-color: var(--fuse-border);
  quotes: "\201C" "\201D" "\2018" "\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em
}

.prose blockquote p:first-of-type:before {
  content: open-quote
}

.prose blockquote p:last-of-type:after {
  content: close-quote
}

.prose h1 {
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: .8888889em;
  line-height: 1.1111111
}

.prose h1, .prose h2 {
  color: var(--fuse-text-default)
}

.prose h2 {
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333
}

.prose h3 {
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: .6em;
  line-height: 1.6
}

.prose h3, .prose h4 {
  color: var(--fuse-text-default);
  font-weight: 600
}

.prose h4 {
  margin-top: 1.5em;
  margin-bottom: .5em;
  line-height: 1.5
}

.prose figure figcaption {
  color: var(--fuse-text-secondary);
  font-size: .875em;
  line-height: 1.4285714;
  margin-top: .8571429em
}

.prose code {
  color: var(--fuse-text-default);
  font-weight: 500;
  font-size: .875em
}

.prose code:after, .prose code:before {
  content: "`"
}

.prose a code {
  color: var(--fuse-primary)
}

.prose pre {
  color: #fff;
  background-color: #1e293b;
  overflow-x: auto;
  font-size: .875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: .375rem;
  padding: .8571429em 1.1428571em
}

.prose pre code {
  background-color: initial;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit
}

.prose pre code:after, .prose pre code:before {
  content: none
}

.prose table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: .875em;
  line-height: 1.7142857
}

.prose thead {
  color: var(--fuse-text-default);
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: var(--fuse-border)
}

.prose thead th {
  vertical-align: bottom;
  padding-right: .5714286em;
  padding-bottom: .5714286em;
  padding-left: .5714286em
}

.prose tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: var(--fuse-border)
}

.prose tbody tr:last-child {
  border-bottom-width: 0
}

.prose tbody td {
  vertical-align: top;
  padding: .5714286em
}

.prose {
  font-size: 1rem;
  line-height: 1.75
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em
}

.prose figure, .prose img, .prose video {
  margin-top: 2em;
  margin-bottom: 2em
}

.prose figure > * {
  margin-top: 0;
  margin-bottom: 0
}

.prose h2 code {
  font-size: .875em
}

.prose h3 code {
  font-size: .9em
}

.prose ol, .prose ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em
}

.prose li {
  margin-top: .5em;
  margin-bottom: .5em
}

.prose > ul > li p {
  margin-top: .75em;
  margin-bottom: .75em
}

.prose > ul > li > :first-child {
  margin-top: 1.25em
}

.prose > ul > li > :last-child {
  margin-bottom: 1.25em
}

.prose > ol > li > :first-child {
  margin-top: 1.25em
}

.prose > ol > li > :last-child {
  margin-bottom: 1.25em
}

.prose ol ol, .prose ol ul, .prose ul ol, .prose ul ul {
  margin-top: .75em;
  margin-bottom: .75em
}

.prose h2 + *, .prose h3 + *, .prose h4 + *, .prose hr + * {
  margin-top: 0
}

.prose thead th:first-child {
  padding-left: 0
}

.prose thead th:last-child {
  padding-right: 0
}

.prose tbody td:first-child {
  padding-left: 0
}

.prose tbody td:last-child {
  padding-right: 0
}

.prose > :first-child {
  margin-top: 0
}

.prose > :last-child {
  margin-bottom: 0
}

.prose-sm {
  font-size: .875rem;
  line-height: 1.7142857
}

.prose-sm p {
  margin-top: 1.1428571em;
  margin-bottom: 1.1428571em
}

.prose-sm [class~=lead] {
  font-size: 1.2857143em;
  line-height: 1.5555556;
  margin-top: .8888889em;
  margin-bottom: .8888889em
}

.prose-sm blockquote {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
  padding-left: 1.1111111em
}

.prose-sm h1 {
  font-size: 2.1428571em;
  margin-top: 0;
  margin-bottom: .8em;
  line-height: 1.2
}

.prose-sm h2 {
  font-size: 1.4285714em;
  margin-top: 1.6em;
  margin-bottom: .8em;
  line-height: 1.4
}

.prose-sm h3 {
  font-size: 1.2857143em;
  margin-top: 1.5555556em;
  margin-bottom: .4444444em;
  line-height: 1.5555556
}

.prose-sm h4 {
  margin-top: 1.4285714em;
  margin-bottom: .5714286em;
  line-height: 1.4285714
}

.prose-sm figure, .prose-sm img, .prose-sm video {
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em
}

.prose-sm figure > * {
  margin-top: 0;
  margin-bottom: 0
}

.prose-sm figure figcaption {
  font-size: .8571429em;
  line-height: 1.3333333;
  margin-top: .6666667em
}

.prose-sm code {
  font-size: 1em
}

.prose-sm h2 code {
  font-size: .9em
}

.prose-sm h3 code {
  font-size: .8888889em
}

.prose-sm pre {
  font-size: 1em;
  line-height: 1.6666667;
  margin-top: 1.6666667em;
  margin-bottom: 1.6666667em;
  border-radius: .25rem;
  padding: .6666667em 1em
}

.prose-sm ol, .prose-sm ul {
  margin-top: 1.1428571em;
  margin-bottom: 1.1428571em
}

.prose-sm li {
  margin-top: .2857143em;
  margin-bottom: .2857143em
}

.prose-sm ol > li {
  padding-left: 1.5714286em
}

.prose-sm ol > li:before {
  left: 0
}

.prose-sm ul > li {
  padding-left: 1.5714286em
}

.prose-sm ul > li:before {
  height: .3571429em;
  width: .3571429em;
  top: calc(.8571429em - .1785714em);
  left: .2142857em
}

.prose-sm > ul > li p {
  margin-top: .5714286em;
  margin-bottom: .5714286em
}

.prose-sm > ul > li > :first-child {
  margin-top: 1.1428571em
}

.prose-sm > ul > li > :last-child {
  margin-bottom: 1.1428571em
}

.prose-sm > ol > li > :first-child {
  margin-top: 1.1428571em
}

.prose-sm > ol > li > :last-child {
  margin-bottom: 1.1428571em
}

.prose-sm ol ol, .prose-sm ol ul, .prose-sm ul ol, .prose-sm ul ul {
  margin-top: .5714286em;
  margin-bottom: .5714286em
}

.prose-sm hr {
  margin-top: 2.8571429em;
  margin-bottom: 2.8571429em
}

.prose-sm h2 + *, .prose-sm h3 + *, .prose-sm h4 + *, .prose-sm hr + * {
  margin-top: 0
}

.prose-sm table {
  font-size: 1em;
  line-height: 1.5
}

.prose-sm thead th {
  padding-right: 1em;
  padding-bottom: .6666667em;
  padding-left: 1em
}

.prose-sm thead th:first-child {
  padding-left: 0
}

.prose-sm thead th:last-child {
  padding-right: 0
}

.prose-sm tbody td {
  padding: .6666667em 1em
}

.prose-sm tbody td:first-child {
  padding-left: 0
}

.prose-sm tbody td:last-child {
  padding-right: 0
}

.prose-sm > :first-child {
  margin-top: 0
}

.prose-sm > :last-child {
  margin-bottom: 0
}

.aspect-w-9 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%)
}

.aspect-w-9 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.aspect-w-9 {
  --tw-aspect-w: 9
}

.aspect-h-6 {
  --tw-aspect-h: 6
}

@media (min-width: 600px) {
  .sm\:bg-card {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important
  }
}

.mat-badge-content {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-h1, .mat-headline, .mat-typography h1 {
  font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px
}

.mat-h2, .mat-title, .mat-typography h2 {
  font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px
}

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font: 400 16px/28px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px
}

.mat-h4, .mat-subheading-1, .mat-typography h4 {
  font: 400 15px/24px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px
}

.mat-h5, .mat-typography h5 {
  font: 400 calc(14px * .83) /20px Roboto, Helvetica Neue, sans-serif;
  margin: 0 0 12px
}

.mat-h6, .mat-typography h6 {
  font: 400 calc(14px * .67) /20px Roboto, Helvetica Neue, sans-serif;
  margin: 0 0 12px
}

.mat-body-2, .mat-body-strong {
  font: 500 14px/24px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal
}

.mat-body, .mat-body-1, .mat-typography {
  font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal
}

.mat-body-1 p, .mat-body p, .mat-typography p {
  margin: 0 0 12px
}

.mat-caption, .mat-small {
  font: 400 12px/20px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal
}

.mat-display-4, .mat-typography .mat-display-4 {
  font: 300 112px/112px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: -.05em;
  margin: 0 0 56px
}

.mat-display-3, .mat-typography .mat-display-3 {
  font: 400 56px/56px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: -.02em;
  margin: 0 0 64px
}

.mat-display-2, .mat-typography .mat-display-2 {
  font: 400 45px/48px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: -.005em;
  margin: 0 0 64px
}

.mat-display-1, .mat-typography .mat-display-1 {
  font: 400 34px/40px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0 0 64px
}

.mat-bottom-sheet-container {
  font: 400 14px/20px Roboto, Helvetica Neue, sans-serif
}

.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px
}

.mat-button-toggle, .mat-card {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-card-title {
  font-weight: 500
}

.mat-card-header .mat-card-title {
  font-size: 20px
}

.mat-checkbox {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px
}

.mat-chip {
  font-size: 14px;
  font-weight: 500
}

.mat-table {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-header-cell {
  font-weight: 500
}

.mat-calendar {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-calendar-body-label, .mat-calendar-period-button {
  font-size: 14px
}

.mat-dialog-title {
  font: 500 20px/32px Roboto, Helvetica Neue, sans-serif
}

.mat-expansion-panel-header {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-expansion-panel-content {
  font: 400 14px/20px Roboto, Helvetica Neue, sans-serif
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-form-field-wrapper {
  padding-bottom: 1.34375em
}

.mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
  line-height: 1.125
}

.mat-form-field-prefix .mat-icon-button .mat-icon, .mat-form-field-suffix .mat-icon-button .mat-icon {
  height: 1.125em;
  line-height: 1.125
}

.mat-form-field-infix {
  border-top: .84375em solid #0000
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.34375em) scale(.75);
  width: 133.3333333333%
}

.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.34374em) scale(.75);
  width: 133.3333433333%
}

.mat-form-field-label-wrapper {
  top: -.84375em;
  padding-top: .84375em
}

.mat-form-field-label {
  top: 1.34375em
}

.mat-form-field-underline {
  bottom: 1.34375em
}

.mat-form-field-subscript-wrapper {
  top: calc(100% - 1.7916666667em)
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .4375em 0
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
  -ms-transform: translateY(-1.28125em) scale(.75);
  width: 133.3333333333%
}

.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.00101px);
  -ms-transform: translateY(-1.28124em) scale(.75);
  width: 133.3333433333%
}

.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.00102px);
  -ms-transform: translateY(-1.28123em) scale(.75);
  width: 133.3333533333%
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.28125em
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin-top: .5416666667em
}

@media print {
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.28122em) scale(.75)
  }

  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.28121em) scale(.75)
  }

  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.2812em) scale(.75)
  }
}

.mat-form-field-appearance-fill .mat-form-field-label {
  top: 1.09375em
}

.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-fill.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-.59375em) scale(.75);
  width: 133.3333333333%
}

.mat-form-field-appearance-fill.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-.59374em) scale(.75);
  width: 133.3333433333%
}

.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.84375em
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.59375em) scale(.75);
  width: 133.3333333333%
}

.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.59374em) scale(.75);
  width: 133.3333433333%
}

input.mat-input-element {
  margin-top: -.0625em
}

.mat-menu-item, .mat-paginator, .mat-paginator-page-size .mat-select-trigger, .mat-radio-button, .mat-select {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-select-trigger {
  height: 1.125em
}

.mat-slide-toggle-content, .mat-slider-thumb-label-text {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-slider-thumb-label-text {
  font-weight: 500
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-step-label-error {
  font-size: 14px
}

.mat-step-label-selected {
  font-size: 14px;
  font-weight: 500
}

.mat-tab-group, .mat-tab-label, .mat-tab-link {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-tab-label, .mat-tab-link {
  font-size: 14px
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  font: 500 20px/32px Roboto, Helvetica Neue, sans-serif
}

.mat-list-item, .mat-list-option, .mat-tooltip {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-list-base .mat-subheader {
  font-size: 14px
}

.mat-list-base .mat-subheader, .mat-list-base[dense] .mat-subheader {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-weight: 500
}

.mat-option {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-optgroup-label {
  font: 500 14px/24px Roboto, Helvetica Neue, sans-serif
}

.mat-simple-snackbar, .mat-tree {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-ripple {
  overflow: hidden;
  position: relative
}

.mat-ripple:not(:empty) {
  transform: translateZ(0)
}

.mat-ripple.mat-ripple-unbounded {
  overflow: visible
}

.mat-ripple-element {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity, transform 0ms cubic-bezier(0, 0, .2, 1);
  transform: scale(0)
}

.cdk-high-contrast-active .mat-ripple-element {
  display: none
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000
}

.cdk-overlay-container:empty {
  display: none
}

.cdk-global-overlay-wrapper, .cdk-overlay-pane {
  display: flex;
  position: absolute;
  z-index: 1000
}

.cdk-overlay-pane {
  pointer-events: auto;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1
}

.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: .6
}

.cdk-overlay-dark-backdrop {
  background: #00000052
}

.cdk-overlay-transparent-backdrop, .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px
}

.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll
}

textarea.cdk-textarea-autosize {
  resize: none
}

textarea.cdk-textarea-autosize-measuring {
  padding: 2px 0 !important;
  box-sizing: initial !important;
  height: auto !important;
  overflow: hidden !important
}

textarea.cdk-textarea-autosize-measuring-firefox {
  padding: 2px 0 !important;
  box-sizing: initial !important;
  height: 0 !important
}

