@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
body,
html {
  /*align-content: center;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*background: #ff7f50;*/
  background: #ff7f50;

  width: 100%;
  min-height: 100%;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.ant-card-head {
  text-align: center;
}
.nz-card {
  display: inline;
}
